.data-pation {
  padding: 5px;
  display: flex;
  .pation-element {
    width: 220px;
    margin: 5px;
    .inner-element {
      display: flex;
      justify-content: space-between;
      .input-element {
        width: 140px;
      }
    }
  }
}
.data-diagnoses {
  display: flex;
  max-height: 50%;
  border: 1px solid #e7e8e9;
  .diagnoses {
    width: 50%;
    overflow: auto;
    .diagnos {
      font-size: 17px;
      padding: 5px;
      &:nth-child(2n+1) {
        background-color: #ededed;
      }
    }
  }
  .procedures {
    width: 50%;
    overflow: auto;
    .procedure {
      font-size: 17px;
      padding: 5px;
      &:nth-child(2n+1) {
        background-color: #ededed;
      }
    }
  }
}
.data-result {
  padding: 15px 10px 0 10px;
  .result {
    margin-right: 10px;
  }
}
.green {
  padding: 10px 3px;
  float: left;
  background-color: green;
}
.diagnosNumber {
  background-color: green;
  padding: 2px;
}

.dropbtn {
  border: none;
  cursor: pointer;
  background: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {display: block;}
