.blockClients {
    justify-content: center;
    align-items: center;
    display: flex;
}
.imgClient {
    width: 160px;
    max-height: 160px;
    display: inline-block;
    float: none;
    margin-left: 18px;
    margin-right: 18px;
    padding: 0px;
    border: 0px;
    vertical-align: middle;
}
